*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}

.parent{
    height: 300px;
    width: 300px;
    background-color: crimson;
    border: 5px solid #000;
}

@media (max-width:600px) {/*mean 0 to max 600 px tak ya kaam karaga mean if screen size 0 to 600 raha toh ya code chalaga */
    .parent{
        background-color: blue;
        border-radius: 50%;
    }
}