*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 100px;
    font-weight: 800;
    position: relative
}

h1::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 10px;
    bottom: 0;
    background-color: black;
    left: 0;
    
}

h1:hover::after{
    animation-name: lineamine;
    animation-duration: 2s;
}

@keyframes lineamine {
    0%{
        left:0%;
        width:0%;
    }
    50%{
        width:100%;
        left:0%;
    }
    100%{
        width:0%;
        left:100%;
    }
}





